body {
    font-size: 100%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    min-width: 41em; /* Mindestbreite verhindert Umbruch */
    background-color: #ffffff;
    background-image: url(source_code.png);
}

div#header {
    font-size: 1.5em;
    margin: 0 0 0;
    padding: 0.8em;
    text-align: center;
    background-color: #ffffff;
}

div#header h1 {
    align: center;
}

div#menue {
    align: center;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: #0000ff;
    overflow: auto;
    word-wrap: break-word;
    width: 100%;
}

div#menue ul {
    text-align: center;
    font-size: 0.91em;
    float: left;
}

div#menue li {
    display: inline;
    text-align: center;
    float: left;
}

div#menue a {
    padding: 0.25em;
    text-decoration: none;
    font-weight: bold;
    float: left;
}

div#menue a:link {
    color: #ffffff;
    background-color: #0000ff;
}

div#menue a:visited {
    color: #ffffff;
    background-color: #0000ff;
}

div#menue a:hover {
    color: #000000;
    background-color: #ffffff;
}

div#menue a:active {
    color: #000000;
    background-color: #ffffff;
}

div#content {
    padding: 1em;
    background-color: #ffffff;
    max-width: 50em;
    align: center;
}

div#content h2 {
    font-size: 1.2em;
    margin: 0 0;
}

div#content p {
    font-size: 1em;
    margin: 0 0;
}

div#content li {
    margin-left: 1em;
}

